@page "/webstoragedemo"

@using Blazor.Matchbox.WebStorage
@using Microsoft.Extensions.Logging

@inject ILocalStorage localStorage
@inject ISessionStorage sessionStorage
@inject ILogger<WebStorageDemo> logger

<h1>WebStorage - Demo</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Web Storage</h5>
        <div class="row">
            <div class="col">Target Storage</div>
            <div class="col">
                <select @bind="StorageTypeKey">
                    <option selected value="local">Local Storage</option>
                    <option value="session">Session Storage</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>
        <form>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="itemKey" class="input-group-text">Item Key</label>
                        </div>
                        <input type="text" class="form-control" id="itemKey" placeholder="Item Key" @bind-value="ItemKey"/>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="itemValue" class="input-group-text">Item Value</label>
                        </div>
                        <input type="text" class="form-control" id="itemValue" placeholder="Item Value" @bind-value="ItemValue"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=SetItem>Set Item</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=GetItem>Get Item</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=RemoveItem>Remove Item</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=Clear>Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

@code 
{
    private string ItemKey { get; set; }
    
    private string ItemValue { get; set; }

    private string StorageTypeKey { get; set; } = "local";

    private IStorage SelectedStorage
    {
        get
        {
            if (StorageTypeKey == "session")
            {
                return sessionStorage;
            }
            
            return localStorage;
        }
    }
    
    private async Task SetItem() 
    {
        await SelectedStorage.SetItemAsync(ItemKey, ItemValue);
    }

    private async Task GetItem() 
    {
        ItemValue = await SelectedStorage.GetItemAsync(ItemKey);
        StateHasChanged();
    }

    private async Task RemoveItem()
    {
        await SelectedStorage.RemoveItemAsync(ItemKey);
    }
    
    private async Task Clear()
    {
        await SelectedStorage.ClearAsync();
    }
}